<html>
    <head>
        <title>Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>    </head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'CreateArticle' %}">Create Article<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'Search' %}">Search Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Dashboard' %}">My Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Logout' %}">Logout</a>
                    </li>
                </ul>
                <form action="{% url 'Search' %}" method="post" class="form-inline my-2 my-lg-0">
                    {% csrf_token %}
                    <input required class="form-control mr-sm-2" name="searchName" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <span class="navbar-text" style="margin-left: 1%">
                    {{ userName }}
                </span>
            </div>
        </nav>


        <div class="row" style="width: 100%; padding: 1%">
            {% for blog in blogs %}
            <div class="col-sm-4">
                <div class="card mb-3">
                    <img class="card-img-top" src="/media/{{ blog.image }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ blog.title }}</h5>
                        <p class="card-text">{{ blog.description }}</p>
                        <p class="card-text"><small class="text-muted">{{ blog.visibility }}</small></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </body>
</html>